
<head>

<a class="menu_list" href="/gallery">Gallery</a>
<a class="menu_list" href="/explore">Explore</a>
  <div class="dropdown">
  <a class="menu_list">Theme</a>
  <div class="dropdown-content">
    <ul id="switcher">
    <a id ="theme_one" href ="#"><li id="blackgreyButton"></li> <li id="blueButton"></li></a>
    <a id ="theme_two" href ="#"><li id="purpleButton"></li> <li id="orangeButton"></li></a>
    <a id ="theme_three" href ="#"> <li id="greenButton"></li> <li id="darkGreenButton"></li></a>
    <a id ="theme_four" href ="#"> <li id="bluebButton"></li> <li id="redOrangeButton"></li></a>
    <a id ="theme_five" href ="#"> <li id="whiteButton"></li> <li id="blackButton"></li></a>
    </ul>
  </div>
</div>

  </head>

  <body id ="body">
    {{{body}}}
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/external_styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	  <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="../javascripts/global.js"> </script>

</body>
</html>
